@use '../styles/constants/colors';

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  // background:url(../assets/image/background.png);
  background-size: cover;
  color: colors.$TEXT;
}
