// 주요 색상
$PRIMARY: #0064FF;
$PRIMARY-LIGHT:#abccfe;
$TEXT: #333333;
$BACKGROUND:#F7F7F7;
$FAVORITE:#FFD700;

// Grayscale

$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eee;
$GRAYF: #ffffff;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;
$WHITE: #ffffff;
$BLACK: #000000;
