@mixin cubicBezier($duration) {
  transition: $duration;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@mixin clickEffect() {
  &:active {
    position: relative; 
    top:2px;
  }
}

@mixin borderBottom($color) {
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: $color;
    transition: width .3s;
  }

  &.isActive::after {
    width: 100%;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
